<div>
  <section>
    <div>
      <% if notice %>
        <h1><%= notice %></h1>
      <% end %>
      
      <h2 class = "pushdown" >Log in</h2>
      <%= form_tag login_path, method: 'post' do %>
        <div>
          <label>
            Username (Email)<br />
            <%= text_field_tag :email %>
          </label>
        </div>

        <div>
          <label>
            Password<br />
            <%= password_field_tag :password %>
          </label>
        </div>
        <br>
        <%= submit_tag "Log in" %>
      <% end %>
    </div>
  </section>
</div>


<p><u><%= link_to "New users: create an account", new_user_path %></u></p>